<div style="margin-top: 50px">
  <div
    fxLayout="column"
    fxFlex="100"
    fxLayoutAlign.lg="center center"
    fxLayoutAlign.sm="center center"
    fxLayoutAlign.md="center center"
  >
  <label>Fill out your exercise below:</label>
  <br>
    <div [formGroup]="exerciseForm" fxLayout="column" fxFlex="100">
      <mat-form-field appearance="fill" fxFlex="90"
        ><input
          matInput
          formControlName="name"
          required
          placeholder="Username"
          [value]="exerciseForm.get('name')?.value | titlecase"
      /></mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Type of exercise</mat-label>
        <mat-select formControlName="typeOfExercise">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{ food.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput formControlName="date" [matDatepicker]="picker" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input
          matInput
          formControlName="description"
          required
          placeholder="Description"
        />
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" (click)="onSubmit()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
<!-- <div>
  {{ exerciseForm.value | json }}
</div> -->
